.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  flex: 1;
  background-color: #2c3e50;
  padding: 15px;
  color: white;
  border-right: 2px solid #1a252f;
}

.canvas {
  flex: 2;
  position: relative;
  background-color: #e2e2e2;
  color: black;

  background-image: radial-gradient(#1e1e1e89 1px, transparent 0);
  background-size: 50px 50px;
  background-position: -19px -19px;
}

.canvas h6 {
  color: rgba(0, 0, 0, 0.3); 
  font-weight: 400; 
  font-size: 1em;
  user-select: none; 

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  pointer-events: none;
}


.item {
  
  padding: 12px 15px; 
  margin-top: 10px;
  margin-bottom: 10px; 
  background-color: #34495e; 
  border-radius: 5px; 
  text-align: left; 
  font-weight: 500;

  cursor: grab;
  transition:
    background-color 0.2s ease-in-out,
    transform 0.2s ease; 
  user-select: none; 

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.item:not(.disabled):hover {
  background-color: #4e6a85;
  transform: scale(1.03); 
}


.item:active {
  cursor: grabbing;
}

.disabled{
  color: red;
}